  import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
  font-size: 10px;
    font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}


body{
  background-color: #0000ff;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: relative;
  height: 100vh;
}

body:after{
  content: "";
  background: url(/pexels-photo-2710131.jpeg);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  
}

.theContainer{
  margin: 0;
  padding: 0;
 
}



.container{
position: absolute;
  top: 45%;
  left: 35%;
  text-align: center;
  z-index: 10;
}

 @media only screen and (max-width: 480px) {
  .container{
position: absolute;
  top: 25%;
  left: 10%;
  text-align: center;
  z-index: 10;
}
}

.container h1{
  font-size: 45px;
    color: white;
}


.container p{
  margin-top: -30px;
margin-bottom: 25px;
    color: white;
}
   
.container a{
    color: white;
text-decoration: none;
}

.container form input{
  width: 270px;
  height: 35px;
  padding-left: 10px;
  display: block;
margin-bottom: 10px;
border: 1px solid lightgrey;
border-radius: 3px;

}

.container button{
  color: blue;
  border-color: white;
  border: 3px solid lightgrey;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 3px;
  height: 35px;
  width: 80px;
  font-size: 15px;
   margin-bottom: 40px;
}
